

.btn {
  margin-top: 20px;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  height: auto;
  line-height: 1.125rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

.input-type-style .input-label-style {
  padding-bottom: 1rem;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -55%) scale(0.9);
  font-weight: bold;
  margin-left: 7px;
}

.p-datepicker-header {
  background-color: #ccc !important;
  color: white !important;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}
.dropdown__control {
  width: 200px;
}

.p-calendar .p-datepicker {
  background-color: #F8F8F8;
}
.p-datepicker-title {
  color: #000;
}

.p-calendar td:hover {
  box-shadow: 0px -3px 0px #E8E8E8 inset;
  cursor: pointer;

}
.p-dialog {
  overflow: auto; /* Enable scroll if needed */
  background-color: #F8F8F8
}

.download-file {
  background: #208fdc;
  color: #000;
  cursor: pointer;
}
.delete-file {
  background: #e6646e;
  color: #000;
  cursor: pointer;
}
.input-required:before {
  content: "*";
  color: red;
}
